tqdm
pyinstaller
numpy
pandas
scikit-learn
matplotlib
clickhouse-connect
torch
transformers
datasets
apache-airflow
captum 
tqdm
psutil
pyspectator
GPUtil
fastapi
uvicorn[standard]
swifter
tensorflow
jupyterlab

